@import "button";

* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}

html,
body {
  width: 100%;
  height: 100%;
}

.blue{
    @include button-style(blue,white,18px)
} 

.red{
    @include button-style(red,white,20px)
}
