@font-face {
  font-family: montserrat;
  src: url(./fonts/Montserrat-SemiBold.ttf);
}
@font-face {
  font-family: openSana;
  src: url(./fonts/OpenSans-Regular.ttf);
}
@font-face {
  font-family: lufga-light;
  src: url(./fonts/LufgaLight.ttf);
}
@font-face {
  font-family: lufga-regular;
  src: url(./fonts/LufgaRegular.ttf);
}

* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}

html,
body {
  height: 100%;
  width: 100%;
}

body {
  max-width: 1120px;
  margin-inline: auto;
  background-color: #111;
  color: white;
}

header {
  margin-top: 40px;
  display: flex;
  justify-content: space-between;
  align-items: center;
}

header h1 {
  font-size: 20px;
  font-family: montserrat;
  color: #adaaaa;
}

header h1:hover {
  cursor: pointer;
}

header nav ul {
  width: 330px;
  display: flex;
  justify-content: space-evenly;
  align-items: center;
  background-color: #191919;
  padding-block: 12px;
  border-radius: 50px;
  position: relative;
  overflow: hidden;
}

header nav ul li {
  list-style-type: none;
  color: #adaaaa;
  font-size: 15px;
  font-family: openSana;
  font-weight: 200;
  
}

#navhover-container {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
}

#navhover {
    position: absolute;
    bottom: -1px;
    border-radius: 5px;
    width: 25px;
    padding: 2.5px;
    background-color: #cafe3f;
    display: none;
}

header nav ul li:hover {
  color: #cafe3f;
  cursor: pointer;
}

header nav ul li:hover #navhover {
    display: block;
}
